
<style type="text/css">

  html, body { font-size: 0.85em; }
  h1 { font-size: 30px; }
  h2 { font-size: 25px; }
  @media(min-width: 480px) {
    html, body { font-size: 1em; }
    h1 { font-size: 36px; }
    h2 { font-size: 30px; }
  }

  .show-xs, .show-sm { display: initial; }
  .hide-xs, .hide-sm { display: none; }

  @media(min-width: 480px) {
    .show-xs { display: none; }
    .hide-xs { display: initial; }
  }

  @media(min-width: 768px) {
    .show-sm { display: none; }
    .hide-sm { display: initial; }
  }

  .label-danger-empty {
    background-color: transparent;
    border: 1px solid #d9534f;
    color: #d9534f;
  }

  .label-danger-empty:hover, .label-danger-empty:focus {
    border: 1px solid #c9302c;
    color: #fff;
  }

  .event.soldout {
    display: none;
  }

  .show-soldout .event.soldout {
    display: block;
  }

  .panel-body .greeting {
    float: right;
    text-align: right;
  }

  .modal-body .greeting {
    margin: 0 0 10px -15px;
  }

  .panel-body .greeting > div {
    white-space: nowrap;
    margin-right: -5px;
  }

  .modal-body .greeting > div {
    display: inline;
    font-size: 1.2em;
    font-weight: bold;
    white-space: nowrap;
  }

  .panel-body .greeting > a {
    padding: 0.3em 0.6em;
  }

  .modal-body .greeting > a {
    float: right;
    font-size: 65%;
    margin: 4px 0;
    padding: 0.3em 0.6em;
  }

  .panel-body .greeting .badge_num,
  .modal-body .greeting .badge_num {
    color: #808080;
    font-size: 65%;
    font-weight: bold;
    vertical-align: super;
  }

  .panel-body .greeting > div {
    font-size: 1.75em;
    font-weight: bold;
  }

  .btn-next {
    font-size: 32px;
    width: 64px;
    height: 64px;
    padding: 0;
    max-width: 20%;
  }

  @media(min-width: 480px) {
    .btn-next {
      font-size: 42px;
      width: 84px;
      height: 84px;
      padding: 0;
      max-width: 20%;
    }
  }

  .btn-next-sm {
    font-size: 24px;
    width: 48px;
    height: 48px;
    padding: 0;
    max-width: 20%;
  }

  .signedup .btn-next {
    text-shadow: none;
    background-color: transparent;
    background-image: none;
    border-color: #4cae4c;
    color: #4cae4c;
    cursor: default;
  }

  .signedup .btn-next:hover,
  .signedup .btn-next:focus {
    background-color: transparent;
  }

  .signedup .btn-next:active,
  .signedup .btn-next.active {
    background-color: transparent;
  }

  .signedup .btn-next:disabled,
  .signedup .btn-next[disabled] {
    color: #808080;
    background-color: #e0e0e0;
    border-color: #e0e0e0;
  }

  .btn-back {
  }

  .hover-btn {
    border: 1px solid transparent;
    border-radius: 3px;
    color: #333;
    display: block;
    text-decoration: none;
    padding: 10px;
  }

  .hover-btn + .hover-btn {
    margin-top: 15px;
  }

  .hover-btn:after {
    content: ' ';
    clear: both;
    display: block;
  }

  .hover-btn:hover {
    background-color: #f0faf4;
    border-color: #4cae4c;
    color: #333;
    cursor: pointer;
    outline: none;
    outline-offset: 0;
    text-decoration: none;
  }

  .hover-btn.signedup:hover {
    background-color: transparent;
    cursor: default;
  }

  .hover-btn:focus {
    color: #333;
    outline: none;
    outline-offset: 0;
    text-decoration: none;
  }

  .hover-btn:focus *, .hover-btn:hover * {
    text-decoration: none;
  }

  .hover-btn-title h2 {
    margin-top: 0;
    display: inline;
  }

  .hover-btn-body {
    padding-left: 0.75em;
  }
</style>
