
<style type="text/css">

  .hover-btn {
    display: block;
  }

  .hover-btn + .hover-btn {
    margin-top: 15px;
  }

  .hover-btn:focus, .hover-btn:hover, .hover-btn:hover * {
    text-decoration: none;
    outline: none;
    outline-offset: 0;
  }

  .hover-btn-body {
    border: 1px solid transparent;
    border-radius: 3px;
    color: #333;
    text-decoration: none;
    padding: 15px;
  }

  .hover-btn-body:after {
    content: ' ';
    clear: both;
    display: block;
  }

  .hover-btn-body:hover {
    background-color: #f0faf4;
    border-color: #e0eae4;
    cursor: pointer;
  }

  .hover-btn-body h2 {
    margin-top: 0;
  }

  .hover-btn-body p {
    padding-left: 0.75em;
  }

  .btn-next {
    font-size: 42px;
    width: 84px;
    height: 84px;
    padding: 10px;
  }
</style>
