
<style type="text/css">

  html, body { font-size: 0.85em; }
  h1 { font-size: 30px; }
  h2 { font-size: 25px; }
  @media(min-width: 500px) {
    html, body { font-size: 1em; }
    h1 { font-size: 36px; }
    h2 { font-size: 30px; }
  }

  .visible-xs-block { display: none !important; }
  .visible-xs-inline { display: none !important; }
  .visible-xs-inline-block { display: none !important; }
  .hidden-xs { display: initial !important; }

  /* override the default *-xs width */
  @media (max-width: 767px) {
    .visible-xs-block { display: none !important; }
    .visible-xs-inline { display: none !important; }
    .visible-xs-inline-block { display: none !important; }
    .hidden-xs { display: initial !important; }
  }

  @media(max-width: 499px) {
    .visible-xs-block { display: block !important; }
    .visible-xs-inline { display: inline !important; }
    .visible-xs-inline-block { display: inline-block !important; }
    .hidden-xs { display: none !important; }
  }

  .label-danger-empty {
    background-color: transparent;
    border: 1px solid #d9534f;
    color: #d9534f;
  }

  .label-danger-empty:hover, .label-danger-empty:focus {
    border: 1px solid #c9302c;
    color: #fff;
  }

  .event.soldout {
    display: none;
  }

  .show-soldout .event.soldout {
    display: block;
  }

  .panel-body .greeting {
    float: right;
    text-align: right;
  }

  .panel-body .greeting .attendee {
    white-space: nowrap;
    margin-right: -5px;
  }

  .modal-body > .form-group:last-child {
    margin-bottom: 0;
  }

  .modal-header .greeting .attendee {
    font-size: 1.2em;
    font-weight: bold;
    white-space: nowrap;
  }

  .panel-body .greeting .logout {
    padding: 0.3em 0.6em;
  }

  .modal-header .greeting .logout {
    font-size: 65%;
    margin: 4px 0;
    padding: 0.3em 0.6em;
  }

  .attendee .badge-num {
    color: #808080;
    font-size: 65%;
    font-weight: bold;
  }

  .attendee .ident {
    white-space: nowrap;
  }

  .panel-body .greeting .attendee {
    font-size: 1.75em;
    font-weight: bold;
  }

  .btn-xl {
    padding: 15px 20px;
    font-size: 20px;
    white-space: normal;
  }

  .btn-next {
    font-size: 32px;
    width: 64px;
    height: 64px;
    margin-left: 5px;
    padding: 0;
    max-width: 20%;
  }

  @media(min-width: 480px) {
    .btn-next {
      font-size: 42px;
      width: 84px;
      height: 84px;
      padding: 0;
      max-width: 20%;
    }
  }

  .btn-next:disabled,
  .btn-next[disabled] {
    color: #e0e0e0;
    background-color: #808080;
    border-color: #808080;
  }

  .btn-next-sm {
    font-size: 24px;
    width: 48px;
    height: 48px;
    padding: 0;
    max-width: 20%;
  }

  .signedup .btn-next {
    text-shadow: none;
    background-color: #fff;
    background-image: none;
    border-color: #4cae4c;
    color: #4cae4c;
  }

  .signedup .btn-next:hover,
  .signedup .btn-next:focus {
    background-color: #fff;
  }

  .signedup .btn-next:active,
  .signedup .btn-next.active {
    background-color: #fff;
  }

  .show-signedup {
    display: none;
  }

  .signedup .show-signedup {
    display: initial;
  }

  .btn-back {
  }

  .hover-btn {
    border: 1px solid transparent;
    border-radius: 3px;
    color: #333;
    display: block;
    text-decoration: none;
    padding: 10px;
  }

  .hover-btn + .hover-btn {
    margin-top: 15px;
  }

  .hover-btn:after {
    content: ' ';
    clear: both;
    display: block;
  }

  .hover-btn:hover {
    background-color: #f0faf4;
    border-color: #4cae4c;
    color: #333;
    cursor: pointer;
    outline: none;
    outline-offset: 0;
    text-decoration: none;
  }

  .hover-btn:hover:disabled,
  .hover-btn:hover[disabled] {
    background-color: #f6f6f6;
    border-color: #888888;
    cursor: default;
  }

  .hover-btn:focus {
    color: #333;
    outline: none;
    outline-offset: 0;
    text-decoration: none;
  }

  .hover-btn:focus *, .hover-btn:hover * {
    text-decoration: none;
  }

  .hover-btn-title {
    margin-bottom: 5px;
  }

  .hover-btn-title h2 {
    margin-top: 0;
    display: inline;
  }

  .hover-btn-body {
    padding-left: 0.75em;
  }

  input#badge_num {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input#badge_num::-webkit-inner-spin-button,
  input#badge_num::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }
</style>
