{% extends "preregistration/preregbase.html" %}
{% block title %}Attractions{% endblock %}
{% import 'attractions/attractions_macros.html' as attractions_macros with context %}

{% block content %}

{% include 'attractions/attractions_common.html' %}

{%- set restriction = feature.attraction.restriction -%}
{%- set is_restricted_per_attraction = attendee.is_signed_up_for_attraction(feature.attraction)
    if attendee and restriction == Attraction.PER_ATTRACTION
    else False -%}
{%- set is_restricted_per_feature = attendee.is_signed_up_for_attraction_feature(feature)
    if attendee and restriction == Attraction.PER_FEATURE
    else False -%}
{%- set is_restricted = is_restricted_per_attraction or is_restricted_per_feature -%}

<style type="text/css">
  .hover-btn + .hover-btn {
    margin-top: 0;
  }

  .hover-btn-title h2 {
    font-size: 1.125em;
  }

  .hover-btn-body p {
    margin: 0;
  }

  .filter-bar {
    margin-bottom: 20px;
    text-align: right;
  }

  .slots {
    font-size: 1.2em;
    vertical-align: middle;
  }

  .modal-body .text-hilite {
    color: #555;
    font-weight: bold;
  }

  #signup_modal .modal-body {
    font-weight: normal;
    padding-left: 2em;
  }

  #badge_num_modal .help-block {
    color: #808080;
    font-weight: normal;
    font-size: 1.2em;
  }

  #done_modal form p {
    margin-bottom: 20px;
  }

  #friend_row .attendee,
  #done_modal .btn .attendee {
    display: inline-block;
  }

  #friend_row .attendee {
    font-size: 1.5em;
  }

  .slide-box {
    position: relative;
    height: 3.125em;
  }

  .slide-box .row {
    position: absolute;
    height: 2.8125em;
    width: 100%;
    top: 0;
    left: 15px;
  }
</style>

<script>
  var isRestrictedPerAttraction = {{ is_restricted_per_attraction|string|lower }};
  var isRestrictedPerFeature = {{ is_restricted_per_feature|string|lower }};
  var isRestricted = {{ is_restricted|string|lower }};
  var isLoggedin = {{ attendee is not none|string|lower }};

  $(function() {
    var $modals = $('.modal'),
        $badgeNumModal = $('#badge_num_modal'),
        $signupModal = $('#signup_modal'),
        $doneModal = $('#done_modal'),
        $badgeNum = $('#badge_num'),
        $friendBadgeNum = $('#friend_badge_num'),
        $btnShowSoldout = $('#btn_show_soldout');

    $btnShowSoldout.on('click', function(event) {
      var isShowing = $btnShowSoldout.hasClass('btn-plain');
      $btnShowSoldout.toggleClass('btn-default', isShowing);
      $btnShowSoldout.toggleClass('btn-plain', !isShowing);
      $('body').toggleClass('show-soldout', !isShowing);
    });

    $modals.on('hide.bs.modal', function (event) {
      removeHashFromUrl();
    });

    $('#events').on('click', '.event', function(event) {
      event.preventDefault();
      var $event = $(this),
          eventId = $event.data('eventId'),
          isSoldout = $event.hasClass('soldout'),
          isSignedup = $event.hasClass('signedup');

      if (isSoldout && !isSignedup) {
        return;
      }

      $modals.data('eventId', eventId);
      $modals.toggleClass('soldout', isSoldout);
      $modals.toggleClass('signedup', isSignedup);
      $('.signup-event-label').html($('#' + eventId + ' .event-label').html());
      $('.signup-event-location').html($('#' + eventId + ' .event-location').html());

      (isLoggedin ? (isSignedup ? $doneModal : $signupModal) : $badgeNumModal).modal('show');
    });

    var signupForEvent = function(eventId, badgeNum, callback) {
      $.ajax({
        method: 'POST',
        url: 'signup_for_event',
        data: {
          badge_num: badgeNum,
          id: eventId,
          csrf_token: csrf_token
        },
        success: function(response, status) {
          if (response && response['event_id']) {
            $modals.toggleClass('soldout', response['is_sold_out']);
            $('#' + eventId).toggleClass('soldout', response['is_sold_out']);
            $('#' + eventId + ' .remaining-slots').text(response['remaining_slots']);
            if ('' + badgeNum === '{{ attendee.badge_num }}') {
              $('#' + eventId).addClass('signedup');
            }
            callback(response);
          } else {
            toastr.error(response['error'] || 'Error signing up for event', '', {timeOut: 3000});
            callback(false);
          }
        },
        error: function(response, status, statusText) {
          toastr.error('Error signing up for event', '', {timeOut: 3000});
          callback(false);
        }
      });
    };

    // ****************************************
    // Badge Num Modal
    // ****************************************

    $badgeNumModal.on('shown.bs.modal', function (event) {
      $('#badge_num').focus();
    });

    $('#badge_num_form').on('submit', function(event) {
      event.preventDefault();
      var badgeNum = $badgeNum.val();
      if (!badgeNum) {
        return;
      }

      $.ajax({
        method: 'POST',
        url: 'verify_badge_num',
        data: {
          badge_num: badgeNum,
          csrf_token: csrf_token
        },
        success: function(response, status) {
          if (response && response['first_name'] && response['badge_num']) {
            window.location = 'events?id={{ feature.id }}&badge_num=' + response['badge_num'] + '#' + $signupModal.data('eventId');
          } else {
            toastr.error('Unrecognized badge number: ' + badgeNum, '', {timeOut: 3000});
            $badgeNum.focus();
          }
        },
        error: function(response, status, statusText) {
          toastr.error('Unrecognized badge number: ' + badgeNum, '', {timeOut: 3000});
          $badgeNum.focus();
        }
      });
    });

    // ****************************************
    // Signup Modal
    // ****************************************

    $('#signup_form').on('submit', function(event) {
      event.preventDefault();
      var eventId = $signupModal.data('eventId'),
          badgeNum = $signupModal.data('badgeNum');
      signupForEvent(eventId, badgeNum, function(response) {
        if (response) {
          $signupModal.modal('hide');
          $doneModal.modal('show');
        }
      });
    });

    // ****************************************
    // Done Modal
    // ****************************************

    $doneModal.on('show.bs.modal', function (event) {
      $friendBadgeNum.val('');
      $('#friend_confirm').hide();
      $('#friend_label').show();
      $('#friend_row').hide();
      $('#friend_badge_num_row').show();
    });

    $doneModal.on('shown.bs.modal', function (event) {
      $('#friend_badge_num').focus();
    });

    var showFriend = function() {
      $('#friend_badge_num_row').hide('slide', {direction: 'left'}, 250);
      $('#friend_row').show('slide', {direction: 'right'}, 250);
      $('#friend_label').fadeOut(125, function() {
        $('#friend_confirm').fadeIn(125);
      });
    };

    var hideFriend = function(clear) {
      $('#friend_confirm').fadeOut(125, function() {
        $('#friend_label').fadeIn(125);
      });
      $('#friend_row').hide('slide', {direction: 'right'}, 250);
      $('#friend_badge_num_row').show('slide', {direction: 'left'}, 250, function() {
        if (clear) {
          $friendBadgeNum.val('');
        }
        $friendBadgeNum.focus();
      });
    };

    $('#friend_row .btn-danger').on('click', function (event) {
      event.preventDefault();
      hideFriend(false);
    });

    $('#friend_row .btn-success').on('click', function (event) {
      event.preventDefault();
      var eventId = $doneModal.data('eventId');
      signupForEvent(eventId, $friendBadgeNum.val(), function(response) {
        if (response) {
          toastr.info($('#friend_row .attendee').html() + ' signed up for ' + $('#' + eventId + ' .event-label').html());
          hideFriend(true);
        } else {
          hideFriend(false);
        }
      });
    });

    $('#friend_badge_num_form').on('submit', function(event) {
      event.preventDefault();
      var badgeNum = $friendBadgeNum.val();
      if (!badgeNum) {
        return;
      }

      if (badgeNum === '{{ attendee.badge_num }}') {
        toastr.warning("Hey, that's you!", '', {timeOut: 3000});
        $friendBadgeNum.focus();
        return;
      }

      $.ajax({
        method: 'POST',
        url: 'verify_badge_num',
        data: {
          badge_num: badgeNum,
          csrf_token: csrf_token
        },
        success: function(response, status) {
          if (response && response['first_name'] && response['badge_num']) {
            $('#friend_row .name').text(response['first_name']);
            $('#friend_row .badge-num').text('#' + response['badge_num']);
            showFriend();
          } else {
            toastr.error('Unrecognized badge number: ' + badgeNum, '', {timeOut: 3000});
            $friendBadgeNum.focus();
          }
        },
        error: function(response, status, statusText) {
          toastr.error('Unrecognized badge number: ' + badgeNum, '', {timeOut: 3000});
          $friendBadgeNum.focus();
        }
      });
    });

    // ****************************************
    // Page refresh after login
    // ****************************************

    if (window.location.hash && window.location.hash.length > 1) {
      $(window.location.hash).click();
    }
  });
</script>

<div id="badge_num_modal" class="modal fade" tabindex="-1" role="dialog" style="display: none"
    aria-labelledby="badge_num_modal_title"
    data-badge-num="{{ attendee.badge_num }}">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          <span class="bling-icon"></span> Sign up for <span class="signup-event-label"></span>?
        </h4>
      </div>
      <form id="badge_num_form" method="post" action="verify_badge_num" class="form-horizontal" role="form">
        {{ csrf_token() }}
        <div class="modal-body">
          <div class="help-block text-center">All we need is your badge number!</div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
              <input class="form-control input-lg text-center badge-num"
                type="number"
                id="badge_num"
                name="badge_num"
                placeholder="Badge #"
                required="required"
                min="1">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success btn-xl">
            <span class="glyphicon glyphicon-ok"></span> Log in
          </button>
          <button class="btn btn-default btn-xl" data-dismiss="modal">Nevermind</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="signup_modal" class="modal fade" tabindex="-1" role="dialog" style="display: none"
    aria-labelledby="signup_modal_title"
    data-badge-num="{{ attendee.badge_num }}">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{ attractions_macros.greeting(attendee) }}</h4>
      </div>
      <form id="signup_form" method="post" action="signup_for_event" class="form-horizontal" role="form">
        {{ csrf_token() }}
        <div class="modal-body">
          <p>
            Sign up for
            <span class="text-hilite">{{ feature.attraction.name }} –</span>
            <span class="signup-event-label"></span>?
          </p>
          <p>
            The event will be held in
            <span class="text-hilite signup-event-location"></span>.
          </p>
          <p>
            You {% if feature.attraction.required_checkin < 0 %}may{% else %}must{% endif %}
            check in {{ feature.attraction.required_checkin_label }}.
          </p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success btn-lg btn-xl">
            <span class="glyphicon glyphicon-ok"></span> Sign up
          </button>
          <button class="btn btn-default btn-lg btn-xl" data-dismiss="modal">Nevermind</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="done_modal" class="modal fade" tabindex="-1" role="dialog" style="display: none"
    aria-labelledby="done_modal_title"
    data-badge-num="{{ attendee.badge_num }}">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{ attractions_macros.greeting(attendee) }}</h4>
      </div>
      <div class="modal-body form-horizontal">
        <p>
          Congratulations, you're signed up for
          <span class="text-hilite">{{ feature.attraction.name }} –</span>
          <span class="signup-event-label"></span>!
        </p>
        <p>
          The event will be held in
          <span class="text-hilite signup-event-location"></span>.
          Please check in {{ feature.attraction.required_checkin_label }}.
        </p>
        <form id="friend_badge_num_form" method="post" action="verify_badge_num" role="form" class="hidden-soldout">
          <p>Want to go as a group? You can sign up some friends below...</p>
          {{ csrf_token() }}
          <div class="form-group">
            <label class="col-sm-offset-2 col-sm-8">
              <span id="friend_label">Sign up a friend</span>
              <span id="friend_confirm" style="display: none;">Is this the right person?</span>
              <span>&nbsp;</span>
            </label>
            <div class="col-sm-offset-2 col-sm-8 slide-box">
              <div id="friend_badge_num_row" class="row">
                <div class="col-xs-6" style="padding-right: 7px;">
                  <input class="form-control input-lg text-center badge-num"
                      type="number"
                      id="friend_badge_num"
                      name="badge_num"
                      placeholder="Badge #"
                      required="required"
                      min="1">
                </div>
                <div class="col-xs-6" style="padding-left: 8px;">
                  <button class="btn btn-lg btn-success" style="width: 100%">
                    <span class="glyphicon glyphicon-ok"></span> Sign up
                  </button>
                </div>
              </div>
              <div id="friend_row" class="row" style="display: none;">
                <div class="col-xs-12">
                  <div class="attendee form-control-static">
                    <span class="name"></span>
                    <sup class="badge-num"></sup>
                  </div>
                  <div class="controls pull-right">
                    <button class="btn btn-lg btn-danger">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button class="btn btn-lg btn-success">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group text-center"><b>OR</b></div>
        </form>
        <div class="form-group text-center visible-soldout-block">
          <em class="text-danger">This event is <b>SOLD OUT</b>!</em>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <button class="btn btn-lg btn-xl btn-default" data-dismiss="modal" style="width: 100%">
              Keep browsing{{ attractions_macros.attendee_name(attendee, ' as ') }}
            </button>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <a class="btn btn-lg btn-xl btn-primary" style="width: 100%" href="index">
              <span class="glyphicon glyphicon-off"></span> All done, log me out!
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="masthead"></div>
<div class="panel panel-default{% if is_restricted %} restricted{% endif %}">
  <div class="panel-body">
    {% block body %}
      <a class="btn btn-success btn-back" href="features?id={{ feature.attraction.id }}
          {%- if attendee %}&badge_num={{ attendee.badge_num }}{%endif%}">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="hidden-xs">{{ feature.attraction.name }}</span>
        <span class="visible-xs-inline">Back</span>
      </a>
      {{ attractions_macros.greeting(attendee) }}

      <h1 class="text-center">Schedule for {{ feature.name }}</h1>
      <p class="text-center">
        {{ feature.description|linebreaksbr }}
      </p>
      <hr>
      {%- set available_events_by_day = feature.available_events_by_day -%}
      {%- set is_multi_day = available_events_by_day|length > 1 -%}
      {% if available_events_by_day %}
        <div class="filter-bar">
          <button id="btn_show_soldout" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-filter"></span>
            Include sold out
          </button>
        </div>
      {% endif %}
      <div id="events">
        {% for day, events in available_events_by_day.items() %}
          {% if not loop.first %}<hr>{% endif %}
          {% if is_multi_day %}
            <div class="pull-right">
              {% for jump_day in available_events_by_day.keys() %}
                {% if jump_day == day %}
                  {{ jump_day[:3] }}
                {% else %}
                  <a href="#{{ jump_day }}">{{ jump_day[:3] }}</a>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
          <h2 id="{{ day }}">{{ day }}</h2>
          {% for event in events %}
            {%- set is_signedup = event in attendee.attraction_events -%}
            {%- set is_soldout = event.is_sold_out -%}
            <div class="event hover-btn
                {%- if is_soldout %} soldout{% endif%}
                {%- if is_signedup %} signedup{% endif %}"
                id="{{ event.id }}"
                data-event-id="{{ event.id }}"
                data-event-name="{{ event.name }}"
                data-event-slots="{{ event.slots }}"
                data-event-location="{{ event.location }}"
                data-event-start-time="{{ event.start_time_label }}">
              <div class="hover-btn-title">
                <button class="btn btn-success btn-next btn-next-sm pull-right">
                  <span class="glyphicon glyphicon-ok"></span>
                </button>
                <h2><span class="bling-icon"></span> {{ event.time_span_label }}</h2>
                <em class="text-nowrap">{{ event.duration_label }}</em>
              </div>
              <div class="hover-btn-body">
                <p class="event-label" style="display: none">
                  <span class="text-hilite">{{ event.name }}</span> at
                  <span class="text-hilite">{{ event.start_time_label }}</span>{#- strip -#}
                </p>
                <p class="event-location">
                  {{ format_location(event.location, separator=' ', spacer='', text_class='') }}{#- strip -#}
                </p>
                <p>
                  <span class="visible-soldout-inline text-danger">
                    <b class="slots">SOLD OUT</b> all
                    <em class="slots">{{ event.slots }}</em>
                    slot{{ event.remaining_slots|pluralize }} taken
                  </span>
                  <span class="hidden-soldout">
                    <em class="slots remaining-slots">{{ event.remaining_slots }}</em> out of
                    <em class="slots total-slots">{{ event.slots }}</em> slot{{ event.remaining_slots|pluralize }} available
                  </span>
                </p>
                <p class="visible-signedup-inline"><em class="text-success">You are signed up for this event!</em></p>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <em class="help-block text-center">No events are available for {{ feature.name }}.</em>
        {% endfor %}
      </div>
    {% endblock %}
  </div>
</div>
{% endblock %}
