{% extends "preregistration/preregbase.html" %}
{% block title %}Attractions{% endblock %}
{% import 'attractions/attractions_macros.html' as attractions_macros with context %}

{% block content %}
{% include 'attractions/attractions_common.html' %}
<style type="text/css">
  .hover-btn + .hover-btn {
    margin-top: 0;
  }

  .hover-btn-title h2 {
    font-size: 1.125em;
  }

  .hover-btn-body p {
    margin: 0;
  }

  .filter-bar {
    margin-bottom: 20px;
  }

  #signup_modal .modal-body {
    font-weight: normal;
    font-size: 1.2em;
    padding-left: 2em;
  }

  #signup_event_location {
    font-weight: bold;
  }
</style>

<script>
  $(function() {
    var $body = $('body'),
        $signupModal = $('#signup_modal'),
        $signupForm = $('#signup_form'),
        $signupOkButton = $('#signup_ok'),
        $signupEventLabel = $('#signup_event_label'),
        $signupEventLocation = $('#signup_event_location'),
        $btnSoldout = $('#btn-soldout');

    $btnSoldout.on('click', function(event) {
      var isShowing = $btnSoldout.hasClass('btn-plain');
      $btnSoldout.toggleClass('btn-default', isShowing);
      $btnSoldout.toggleClass('btn-plain', !isShowing);
      $body.toggleClass('show-soldout', !isShowing);
    });

    $signupModal.on('shown.bs.modal', function (event) {
      $('#signup').focus();
    });

    $signupModal.on('show.bs.modal', function (event) {
      var $openButton = $(event.relatedTarget),
          eventId = $openButton.data('eventId'),
          eventName = $openButton.data('eventName'),
          eventStartTime = $openButton.data('eventStartTime'),
          $eventLocation = $('#' + eventId + ' .event-location');
      $signupOkButton.data('eventId', eventId);
      $signupEventLabel.html('<b>' + eventName + '</b> at <b>' + eventStartTime + '</b>');
      $signupEventLocation.html($eventLocation.html());
    });

    $signupForm.on('submit', function(event) {
      event.preventDefault();

      var eventId = $signupOkButton.data('eventId');
      $.ajax({
        method: 'POST',
        url: 'signup_for_event',
        data: {
          badge_num: '{{ attendee.badge_num }}',
          id: eventId,
          csrf_token: csrf_token
        },
        success: function(response, status) {
          if (response && response['result']) {
            toastr.info('Sweet!', '', {timeOut: 3000});
          } else {
            toastr.error('Unrecognized badge number: ' + signup, '', {timeOut: 3000});
          }
        },
        error: function(response, status, statusText) {
          toastr.error('Unrecognized badge number: ' + signup, '', {timeOut: 3000});
        }
      });
    });
  });
</script>

<div id="signup_modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="signup_modal_title"
    style="display: none">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          <span class="bling-icon"></span>
          <span class="modal-title-text" id="signup_modal_title">
            {{ feature.attraction.name }}
          </span>
        </h4>
      </div>
      <form id="signup_form" method="post" action="is_badge_num_valid" class="form-horizontal" role="form">
        <div class="modal-body">
          {{ attractions_macros.greeting(attendee) }}
          <p>Sign up for <span id="signup_event_label"></span>?</p>
          <p>The event will be held in <span id="signup_event_location"></span>.</p>
          <p>
            You {% if feature.attraction.required_checkin < 0 %}may{% else %}must{% endif %}
            check in {{ feature.attraction.required_checkin_label }}.
          </p>
        </div>
        <div class="modal-footer">
          <button type="submit" id="signup_ok" class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-ok"></span> Okay
          </button>
          <button id="signup_cancel" class="btn btn-default btn-lg" data-dismiss="modal">Nevermind</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="masthead"></div>
<div class="panel panel-default">
  <div class="panel-body">
    {% block body %}
      <a class="btn btn-success btn-back" href="features?id={{ feature.attraction.id }}{% if attendee %}&badge_num={{ attendee.badge_num }}{%endif%}">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="hide-xs">{{ feature.attraction.name }}</span>
        <span class="show-xs">Back</span>
      </a>
      {{ attractions_macros.greeting(attendee) }}

      <h1 class="text-center">Schedule for {{ feature.name }}</h1>
      <p class="text-center">
        {{ feature.description|linebreaksbr }}
      </p>
      <hr>
      <div class="filter-bar">
        <button id="btn-soldout" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-filter"></span>
          Show Sold Out
        </button>
      </div>
      {%- set is_multi_day = feature.available_events_by_day|length > 1 -%}
      {% for day, events in feature.available_events_by_day.items() %}
        {% if not loop.first %}<hr>{% endif %}
        {% if is_multi_day %}
          <div class="pull-right">
            {% for jump_day in feature.available_events_by_day.keys() %}
              {% if jump_day == day %}
                {{ jump_day[:3] }}
              {% else %}
                <a href="#{{ jump_day }}">{{ jump_day[:3] }}</a>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
        <h2 id="{{ day }}">{{ day }}</h2>
        {% for event in events %}
          {% set is_signed_up = event in attendee.attraction_events -%}
          <a class="event hover-btn {% if event.is_sold_out %} soldout{% endif%} {% if is_signed_up %} signedup{% endif %}"
              id="{{ event.id }}"
            {% if not is_signed_up %}
              href="#"
              data-toggle="modal"
              data-target="#signup_modal"
              data-event-id="{{ event.id }}"
              data-event-name="{{ event.name }}"
              data-event-location="{{ event.location }}"
              data-event-start-time="{{ event.start_time_label }}"
            {% endif %}>
            <div class="hover-btn-title">
              <button class="btn btn-success btn-next btn-next-sm pull-right">
                <span class="glyphicon glyphicon-ok"></span>
              </button>
              <h2><span class="bling-icon"></span> {{ event.time_span_label }}</h2>
              <em class="text-nowrap">{{ event.duration_label }}</em>
            </div>
            <div class="hover-btn-body">
              <p class="event-location">{{ format_location(event.location, separator=' ', spacer='') }}</p>
              <p>
                {% if event.is_sold_out %}
                  <em class="text-danger">
                    Sold out, {{ event.slots }} slot{{ event.remaining_slots|pluralize }}
                  </em>
                {% else %}
                  {{ event.remaining_slots }} out of {{ event.slots }} slot{{ event.remaining_slots|pluralize }} available
                {% endif %}
              </p>
              {% if is_signed_up %}
                <p><em class="text-success">You are signed up for this event!</em></p>
              {% endif %}
            </div>
          </a>
        {% endfor %}
      {% endfor %}
    {% endblock %}
  </div>
</div>
{% endblock %}
