{% extends "preregistration/preregbase.html" %}
{% block title %}{{ attraction.name }}{% endblock %}
{% import 'attractions/attractions_macros.html' as attractions_macros with context %}

{% block content %}
{% include 'attractions/attractions_common.html' %}
<style type="text/css">

  .hover-btn h3 {
    margin: 5px 0;
    font-size: 1.125em;
  }

  #badge_num_modal .control-label {
    padding-right: 0;
    padding-top: 10px;
  }

  #badge_num_modal .control-label,
  #badge_num_modal .help-block {
    color: #808080;
    font-weight: normal;
    font-size: 1.2em;
  }
</style>

<script>
  $(function() {
    var $badgeNumModal = $('#badge_num_modal'),
        $badgeNumForm = $('#badge_num_form'),
        $badgeNumOkButton = $('#badge_num_ok'),
        $badgeNum = $('#badge_num');

    $badgeNumModal.on('shown.bs.modal', function (event) {
      $('#badge_num').focus();
    });

    $badgeNumModal.on('show.bs.modal', function (event) {
      var $openButton = $(event.relatedTarget),
          featureId = $openButton.data('featureId'),
          featureName = $openButton.data('featureName');
      $badgeNumOkButton.data('featureId', featureId);
      $badgeNumModal.find('#badge_num_modal_title').text('Sign up for ' + featureName);
    });

    $badgeNumModal.on('hidden.bs.modal', function (event) {
      $badgeNum.val('');
    });

    $badgeNumForm.on('submit', function(event) {
      event.preventDefault();
      badgeNum = $badgeNum.val();
      if (!badgeNum) {
        return;
      }

      var featureId = $badgeNumOkButton.data('featureId');
      $.ajax({
        method: 'POST',
        url: 'is_badge_num_valid',
        data: {
          badge_num: badgeNum,
          csrf_token: csrf_token
        },
        success: function(response, status) {
          if (response && response['first_name'] && response['badge_num']) {
            window.location = 'events?id=' + featureId + '&badge_num=' + response['badge_num'];
          } else {
            toastr.error('Unrecognized badge number: ' + badgeNum, '', {timeOut: 3000});
          }
        },
        error: function(response, status, statusText) {
          toastr.error('Unrecognized badge number: ' + badgeNum, '', {timeOut: 3000});
        }
      });
    });
  });
</script>

<div id="badge_num_modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="badge_num_modal_title"
    style="display: none">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          <span class="bling-icon"></span>
          <span class="modal-title-text" id="badge_num_modal_title"></span>
        </h4>
      </div>
      <form id="badge_num_form" method="post" action="is_badge_num_valid" class="form-horizontal" role="form">
        {{ csrf_token() }}
        <div class="modal-body">
          <div class="help-block text-center">
            All we need is your badge number!
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
              <input class="form-control input-lg text-center"
                type="number"
                id="badge_num"
                name="badge_num"
                placeholder="Badge #"
                required="required"
                min="1">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" id="badge_num_ok" class="btn btn-success btn-xl">
            <span class="glyphicon glyphicon-ok"></span> Okay
          </button>
          <button id="badge_num_cancel" class="btn btn-default btn-xl" data-dismiss="modal">Nevermind</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="masthead"></div>
<div class="panel panel-default">
  <div class="panel-body">
    {% block body %}
      <a class="btn btn-success btn-back" href="index{% if attendee %}?badge_num={{ attendee.badge_num }}{%endif%}">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="hidden-xs">All Attractions</span>
        <span class="visible-xs-inline">Back</span>
      </a>
      {{ attractions_macros.greeting(attendee) }}

      <h1 class="text-center">{{ attraction.name }}</h1>
      <p class="text-center">
        {{ attraction.description|linebreaksbr }}
      </p>
      <hr>
      {% for feature in attraction.features %}
        <a class="feature hover-btn"
          {% if attendee %}
            href="events?id={{ feature.id }}&badge_num={{ attendee.badge_num }}"
          {% else %}
            href="#"
            data-toggle="modal"
            data-target="#badge_num_modal"
            data-feature-id="{{ feature.id }}"
            data-feature-name="{{ feature.name }}"
          {% endif %}>
          <div class="hover-btn-title">
            <button class="btn btn-success btn-next pull-right">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
            <h2><span class="bling-icon"></span> {{ feature.name }}</h2>
          </div>
          <div class="hover-btn-body">
            <p>{{ feature.description|linebreaksbr }}</p>
            {%- set summary = feature.available_events_summary -%}
            {% if summary %}
              {% for day, times in summary.items() %}
                <h3>{{ day }}</h3>
                <ul>
                  {% for time_of_day, slots in times.items() %}
                    <li>{{ time_of_day }}: {{ slots }} slot{{ slots|pluralize }} available</li>
                  {% endfor %}
                </ul>
              {% endfor %}
            {% else %}
              <em class="help-block">No events are available for {{ feature.name }}.</em>
            {% endif %}
          </div>
        </a>
      {% endfor %}
    {% endblock %}
  </div>
</div>
{% endblock %}
