<style type="text/css">

#panelists_container h2 {
  display: inline-block;
  font-size: 1.625em;
  margin-top: 0;
}

#panelists_container h2 small {
  font-size: 75%;
}

#panelists_container h3 {
  font-size: 1.375em;
  margin-top: 0.25em;
}

#panelists_container > .panel {
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.075)
}

.panelist-buttons {
  display: inline-block;
  float: right;
}

.panelist-buttons form {
  display: inline-block;
  margin-left: 15px;
}

.optional-field {
    font-weight: normal;
}

/** Schedule pages **/

.schedule-header {
  padding: 15px;
}

.schedule-header > div:after {
  content: '';
  display: block;
  clear: both;
}

.schedule-header label {
  float: left;
}

.schedule-table {
  position: absolute;
  top: 100px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.schedule-rooms-container {
  z-index: 1;

  position: absolute;
  top: 0;
  left: 72px;
  right: 0;
  bottom: 0;

  overflow: hidden;
}

.schedule-rooms {
  display: inline-block;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;

  width: auto;
  max-width: 100%;
  height: 100%;
  overflow: scroll;
}

.schedule-times-container {
  z-index: 2;

  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  bottom: 0;

  overflow: hidden;
}

.schedule-times {
  border: 1px solid #ddd;

  width: 100%;
  height: 100%;
  overflow: hidden;
}

.schedule-times .has-day {
  font-weight: bold;
}

.schedule-times th, .schedule-times td {
  width: 72px;
}

.only-panels td,
.only-panels th {
  display: none;
}

.only-panels td.panels,
.only-panels th.panels {
  display: table-cell;
}

.schedule-table thead tr {
  height: 60px;
}

.schedule-table tbody tr {
  height: 30px;
}

.schedule-table th {
  height: 60px;
  padding: 5px 10px;
  text-align: center;
}

.schedule-table td {
  height: 30px;
}

.schedule-table th,
.schedule-table td {
  position: relative;
}

.schedule-table td > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  max-height: 100%;

  padding: 5px 2px 2px 2px;

  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}

.schedule-table td > .content:hover {
  max-height: 1024px;
  transition: max-height 0.5s ease;
}

.schedule-table table {
  table-layout: fixed;
  font-size: 9pt;
  border-collapse: collapse;
  border-spacing: 0 0;
}

.schedule-rooms td,
.schedule-rooms th {
  text-align: center;
  vertical-align: middle;
}

.schedule-table thead th {
  border-bottom: 1px solid #ddd;
}

.schedule-rooms th, .schedule-rooms td {
  border: 0 none transparent;
  border-right: 1px solid #e8e8e8;
}

.schedule-rooms th .content, .schedule-rooms td .content {
  border-bottom: 1px solid #f0f0f0;
}

.schedule-times td > .content {
  text-align: right;
  border-bottom: 1px solid #ddd;
}

.schedule-rooms .box .content {
  border: 2px solid #ddd;
  background-color: #ffd;
}

.schedule-rooms .top {
}

.schedule-rooms .top .content {
  border-bottom: 0 none transparent;
  border-top: 2px solid #ddd;
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
  background-color: #ffd;
}

.schedule-rooms .bottom {
}

.schedule-rooms .bottom .content {
  border-top: 0 none transparent;
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  background-color: #ffd;
}

.schedule-rooms .middle {
}

.schedule-rooms .middle .content {
  border-bottom: 0 none transparent;
  border-top: 0 none transparent;
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
  background-color: #ffd;
}

.schedule-table tr.active {
  background-color: #f0f0f0;
}

.schedule-rooms .highlight .content,
.schedule-rooms .clicked .content,
.schedule-rooms .box:hover .content {
  border-color: #c0c0c0;
  background-color: #ff6;
}

.schedule-rooms td.selected:not(.highlight) .content { background: orange; }
.schedule-rooms td.conflict:not(.highlight):not(.selected) .content { background: red; }

</style>

<script type="text/javascript">
  $(function() {
    var $scheduleTable = $('.schedule-table'),
        $scheduleRooms = $('.schedule-rooms'),
        $scheduleTimes = $('.schedule-times');

    $('#show_only_panels').on('change', function() {
      var isOnlyPanels = $(this).prop('checked');
      $scheduleRooms.toggleClass('only-panels', isOnlyPanels);
      if (isOnlyPanels) {
        $scheduleRooms.scrollLeft(0);
      }
    });

    $scheduleRooms.scroll(function() {
      $scheduleTimes.scrollTop($scheduleRooms.scrollTop());
    });

    $scheduleTable.on('mouseenter mouseleave', 'tr', function(e) {
        if (e.type == 'mouseenter') {
            var rowClass = $(this).data('row_class');
            $scheduleTable.find('tr').not(this).removeClass('active');
            $('tr.' + rowClass).addClass('active');
        } else {
            $(this).removeClass('active');
        }
    });
  });
</script>
