<html>
<head></head>
<body>
{{ attendee.first_name }},
<br/><br/>
{% if attendee.attraction_signups|length > 1 %}
You recently signed up for the following events:
<ul>
  {% for signup in attendee.attraction_signups %}
  <li>{{ signup.event.label }}</li>
  {% endfor %}
</ul>
{% else %}
You recently signed up for {{ (attendee.attraction_signups|first).event.label }}.
{% endif %}
You may follow
<a href="{{ c.URL_BASE }}/attractions/manage?id={{ attendee.id }}">this link</a>
to manage your signups, change your notification preferences, and find more
events to sign up for.
<br/><br/>
If you did not sign up for this event, you may also use
<a href="{{ c.URL_BASE }}/attractions/manage?id={{ attendee.id }}">this link</a>
to cancel the signup and unsubscribe from further notifications.
<br/><br/>
Thanks for coming to {{ c.EVENT_NAME }}!
</body>
</html>
